# Flask
FLASK_APP=run.py(localdevelopment)
FLASK_APP=wsgi.py(production for gunicorn)
FLASK_ENV=development
SECRET_KEY=change-this-in-development

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/portfolio_db

# JWT
JWT_SECRET_KEY=change-this-jwt-secret

# CORS
FRONTEND_URL=http://localhost:5173

# Application
APP_NAME=My_New_Portfolio